.my_group {
  border-radius: 4px;
  border: 1px solid rgb(231, 236, 247);
  /* padding: 11px 11px 11px 48px; */
  border-right: none;
}

.my_input,
.my_input:focus {
  border: 1px solid rgb(231, 236, 247);
  border-left: none;
  outline: none;
  box-shadow: none;
  padding-left: 0;
  font-size: 14px;
  padding-top: 11px;
  padding-bottom: 11px;
  font-weight: 500;
}

.my_input::placeholder {
  /* modern browser */
  font-size: 14px;
  color: rgb(231, 236, 247);
}

.icon {
  font-size: 24px;
}
